.body-content {
    padding: 15px;
}

.alert-crud {
    float: right;
    max-width: 50%;
    padding: 6px 12px 6px 12px;
    margin-bottom: 0px;
}

.card-header-new {
    color: whitesmoke;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.content-required {
    color: red;
}

td p {
    margin: 0px;
}

tr p {
    margin: 0px;
}

.small-p {
    color: gray;
    font-size: 14px;
}

.form-group-left {
    float: left;
    width: 49%;
}

.form-group-right {
    float: right;
    width: 49%;
}

.card-4-col {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(176,176,176,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(176,176,176,1);
    box-shadow: 10px 10px 5px 0px rgba(176,176,176,1);
    width: 15rem;
    margin: auto;
    margin-bottom: 40px;
}

.td-software {
    padding-left: 30px;
}

.unread {
    background-color: #e5e5e5;
}


.text-confirm {
    text-align: left;
    margin-bottom: 0px;
}

.left-col {
    float: left;
    width: 49%;
}

.right-col {
    float: right;
    width: 49%;
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: white;
}

