.registerservice {
    color: 	#333333;
}

.titleheader {
    color: 	#177445;
}

.registerservice1 {
    color: 	#333333;
    font-size: 1.25rem;
    margin-bottom: 25px;
}

.card .card-color {
    background-color: LightGray;
    border-radius: 10px;
    border: none;
}

.card-header {
    border-bottom: 0px !important;
}

.backgroundinputregister {
    background-color: LightGray !important;
}

.thstyleform {
    text-align: center;
    vertical-align: middle !important;
}

.pstyleform1 {
    color: #0c525d !important;
    font-size: 90%;
}

.table_header {
    text-align: center;
    background-color: #177445;
    /*background-image: linear-gradient(180deg, #007bff, #191970);*/
    /*background-image: linear-gradient( #007bff ,#3A5FCD , #191970 );*/
    color: white;
}

.nav-treeview>.nav-item>.nav-link.active {
    background-color: #6c986d !important;
}

a .nav-link.active.active-sub { background: #6c986d !important; }

.nav-treeview>.nav-item>.nav-link {
    color: white !important;
}

.card-sytle {
    box-shadow: 10px 15px 15px 10px rgba(0, 0, 0, 0.2) !important;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px !important;
}

.grid-container
{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-left: 3%;
}

.card-img-top {
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.select2-container {
    display: block;
}

.main-sidebar sidebar-dark-primary elevation-4 {
    color: white !important;
}

.nav-link:hover {
    color: white !important;
}

.header-top {
    color: white !important;
}

.item-sidebar {
    color: white;
}

.style-sidebar {
    color: white !important;
    background-color: #0abcf9;
    background-image: linear-gradient(315deg, #0abcf9 0%, #2c69d1 74%);
}

.nav-background {
    background-color:  rgba(182, 184, 182, 0.2);
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.nav-header {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.nav-pills .nav-link.active {
    background-color: #6a93cb;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}

.nav-sidebar>.nav-item>.nav-treeview {
    background-color: #6a93cb !important;
    background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
    border-radius: 5px;
}

.sidebar a {
    color: whitesmoke !important;
}

.icon_notify{
    position: absolute;
    right: 5px;
    top: 5px;
}

div.dropdown-menu {
    position: absolute;
    left: unset;
    top: 90%;
    right: 5px;
    z-index: 1000;
    display: none;
    float: left;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

a.dropdown-toggle::after {
    content: unset;
}

.notification-icon:after {
    position: absolute;
    content: attr(data-count);
    margin-left: -6.8775px;
    margin-top: -6.8775px;
    padding: 0 4px;
    min-width: 13.755px;
    height: 13.755px;
    line-height: 13.755px;
    background: red;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 11.004px;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.icon_bell{
    background: red;
    color: white;
    padding: 5px;
}

#list_notifications{
    height: 80vh;
    /*overflow: auto;*/
}

#list_notifications:before {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F8F9FA;
    transform: translateY(-99%);
}

#list_toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.toast-header {
    min-width: 300px;
}
